<!-- <div class="container">
  <h1>This is the Landing page</h1>
  <button id="" routerLink="/Login">Login Button</button>
</div> -->

<div class="container-fluid bg-img">
  <header>
    <nav class="navbar">
        <span class=" menu-btn material-symbols-outlined">menu</span>
        <a href="#" class="logo">
            <img src="../../../assets/images/logo.jpg" alt="logo">
            <h2 class="logoHeading">Hi....Techi</h2>
        </a>
        <ul class="links">
            <span class=" close-btn material-symbols-outlined">close</span>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <button class="login-btn"  routerLink="/Login">LOG IN</button>
    </nav>
  </header>
</div>
<header>
  <!-- <nav class="navbar">
      <span class=" menu-btn material-symbols-outlined">menu</span>
      <a href="#" class="logo">
          <img src="../../../assets/images/logo.jpg" alt="logo">
          <h2 class="logoHeading">CodingNepal</h2>
      </a>
      <ul class="links">
          <span class=" close-btn material-symbols-outlined">close</span>
          <li><a href="#">Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
      </ul>
      <button class="login-btn"  routerLink="/Login">LOG IN</button>
  </nav>
</header> -->
